{
  "extends": ["airbnb-base"],
  "rules": {
    "no-plusplus": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
    }],
    indent: ['error', 2, {
      MemberExpression: 0,
    }],
    "import/no-dynamic-require": "off",
    "lines-between-class-members": "off"
  }
}
